
.navbar-brand{
  align-items: center;
  justify-content: space-between;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img-fixed {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
